#foot{
    background-color: #eee;
    padding: 10px 0px;
    margin-top: 120px;
    text-decoration-color: blueviolet;
}
footer{
    background-color: #eee;
    padding: 10px 0px;
    margin-top: 120px;
    text-decoration-color: blueviolet;
}

nav{
    margin-bottom: 60px;
    
}
